*{
    margin: 0px;
    padding: 0px;
}

.graf{
    width: 400px;
    padding-top: 70px;
    padding-left: 20px;
    height: 400px;
}
.columna-1{
    width: 65%;
}
.columna-2{
    padding: 15px;
    background: rgba(128, 128, 128, 0.26);
    width: 35%;
}

.datos{
    padding: 15px 20px 0px 20px;
}


table{
    display: table;
    width: 100%; 
    border-collapse: collapse ;
    border-bottom: grey 1px solid;
    height: 450px;
    box-shadow: 2px 2px #888888;
    margin-top: 20px;
}
.nameP{
    width: 10%;
    text-align: center;
 }
 .unidadN{
    width: 12.5%;
    text-align: center;
 }
 .unidadI{
     width: 25%;
     text-align: center;
 }
 thead>tr>td{
    background: var(--bg-P);
    padding: 8px;
    color: white;
    border-right: 1px solid grey;
 }
 tbody>tr>td{
    border-right: grey 1px solid;
    padding: 5px;
    text-align: center; 
    
 }
 .tabla{
     padding-left: 20px;
     padding-right: 20px;
     height: 65%;
     
 }
 table{
 background: rgba(128, 128, 128, 0.26);
 display: table;
 width: 100%; 
 border-collapse: collapse ;
 }
 
tbody>.fila:hover{
    background: rgba(128, 128, 128, 0.37);
    color: white;
 }
 .P{
     text-align: left;
 
 }
 
 .contenedor-clave{
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 7px;
 }
 
 .fila{
 height: 20px;
 width: 100%;
 }
 .fila>td:last-child{
     display: flex;
     justify-content: center;
 }
 .fila>td>a{
     padding-right: 7px;
 }
 .accion{
     border: none;
 }
.box{
    padding: 15px;
    padding-left: 75%;
}
 /*scrollbar-table*/

.my-custom-scrollbar {
    position: sticky;
    overflow: auto;
    }
    thead tr td{ 
        position: sticky;
        top: 0;
    }
    .tabla{
        height: 75vh;
    }
 
 