*{
    margin: 0px;
    padding: 0px;
}

.graf{
    
    width: 600px;
    padding-top: 30px;
    padding-left: 50px;
    height: 400px;
}
.columna-1{
    width: 80%;
}
.columna-2{
    
    width: 20%;
}
