
/*Tamaño de las cajas*/
.container-inventario{
 width: 100vw;
}

.contenido{
    display: flex;
}
.datos{
    background: red;
    width: 80%;
}
.filtro{
    background: grey;
    width: 20%;
}

/******************/
.titulo{
padding-left: 20px;
background: #002973;
width: 120px;
color: white;
border-radius: 0px 12px 500px 0px;
padding-top: 20px;
padding-bottom: 15px;
padding-right: 37px;
box-shadow: 0px 10px  #888888;
}

/* Parte de DATOS */

