
/*Tamaño de las cajas*/
.container-inventario{
 width: 100vw;
}

.contenido{
    display: flex;
}
.datos{
    background: red;
    width: 80%;
}
.filtro{
    background: grey;
    width: 20%;
}

/******************/


/* Parte de DATOS */

