*{
    margin: 0px;
    padding: 0px;
}
.columna-1{
    width: 80%;
}
.columna-2{
    background:#BFBEBD;
    width: 20%;
    display: flex;
    justify-content: space-around;
    border-radius: 70px 0px 0px 70px;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*Tabla Proveedor*/ 
.encabezado{
    background: #002973;
    width: 100%;
}
.encabezado>h2{
    padding: 15px;
    text-align: center;
    color: white;
}

.contenedor{
    padding: 20px;
}
.datos{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
table{
    width: 90%; 
       border-bottom: grey 1px solid;
       background: rgba(128, 128, 128, 0.26);
       box-shadow: 2px 2px #888888;
       border-radius: 5px;
       
   }
   .nameP{
       width: 30%;
   }
   .dat{
       width: 15.5%;
       text-align: center;
   }
   .cla{
    width: 5.5%;
    text-align: center;
}
   thead>tr>td{
       border-bottom: solid 1px grey;
       background: #002973;
       padding: 7px;
       color: white;
       border-radius: 5px;
       
   }

   tbody>tr>td{
       border-right: grey 1px solid;
       padding: 5px;
       text-align: center;
    }

   tbody>tr:hover{
       background: grey;
       color: white;
   }
   .P{
        border-left: 1px solid grey;
        text-align: left;
   }
   .edi{
    width: 10%;
    padding: 1px 15px ;
   }

/*Registro de proveedor*/ 
.registro{
    height: 100vh;
    width: max-content;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    font-family: 'calibri';
    display: flex;
}

label{
    padding: 7px;
    font-weight: 400;
}

.textbox{
    width: 100%;
    height: 25px;
    display: block;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
    font-weight:700 ;
}
.textbox:focus{
    margin-top: 5px;
    padding-left: 17px;
    width: 95%;
    
}

.sex{
    display: flex;
}
.rad{
    position: relative;
    left: 3px;
}

button{
    background: #002973;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
button:hover{
    cursor: pointer;
}

